<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SqlConn" connectionString="Server=(localdb)\mssqllocaldb;Database=sqldb;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlMembershipProvider" hashAlgorithmType="HMACSHA256">
      <providers>
        <clear />
        <add
          name="SqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="SqlConn"
          applicationName="/"
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled ="true"
             defaultProvider ="SqlRoleProvider" >
      <providers>
        <add name ="SqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="SqlConn"
             applicationName="/"/>
      </providers>
    </roleManager>
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="SqlConn" applicationName="/" />
      </providers>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="PhoneNumber"/>
      </properties>
    </profile>
  </system.web>
</configuration>